<!DOCTYPE html>
<html>
<head>
	<title>
		{% block head_title %} 
		{{ block.super }}
		{% endblock head_title %} | Clone Amazon
	</title>
</head>
<body>

	<!-- Navbar -->
	<nav>
		<ul>
			<li><a href="{% url 'home_page' %}">Home</a></li>
			<li><a href="{% url 'login_page' %}">Login</a></li>
		</ul>
	</nav>
	<!-- Main content -->
	{% block content %}
	{% endblock content %}

	<!-- Footer -->
	<footer>
		<p>Developed by 
			<span style="border:1px solid red; padding: 0 3px">ING AFTER 60</span> &copy; 2021
		</p>
	</footer>
</body>
</html>