<!DOCTYPE html>
<html>
<head>
	<title>
		{% block head_title %} 
		{{ block.super }}
		{% endblock head_title %} | Clone Amazon
	</title>
</head>
<body>

	<!-- Navbar -->
	<nav>
		<ul>
			<p><span style="color:red">User logged in:</span> <span style="font-size:24px">{{request.user.username}}</span></p>
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'admin_home' %}">Admin home</a></li>
			<li><a href="{% url 'admin_login' %}">Login</a></li>
			<li><a href="{% url 'admin_logout_process' %}">Logout</a></li>
		</ul>
	</nav>
	<!-- Main content -->
	{% block content %}
	{% endblock content %}

	<!-- Footer -->
	<footer>
		<p>Developed by 
			<span style="border:1px solid red; padding: 0 3px">ING AFTER 60</span> &copy; 2021
		</p>
	</footer>
</body>
</html>